<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        <p>You have received a message from the sites contact form <%= "#{@name} , #{@email}." %></p>
        <p><%= @body %></p>
    </body>
</html>